### <h1>Python Packages Made For Data Science Teams</h1>

### I was inspired by this article from medium about the Mito package: <a href="https://jjdiamondreivich.medium.com/">Mito</a>

 **Mito**
 - Mito is a spreadsheet interface for python. Many data science teams work with stakeholders who are more used to using Excel.
 - Mito allows users to calla **spreadsheet** into their jupyter environment, each edit they make in the spreadsheet will generate the equivalent python in the code cell below.
 - Mito is not only powerful for excel users to contribue to data science team, it also great tool for python users.
 - Mito is faster way to generate code than typing it by hand.

**How to install Mito**:
 - First open a new terminal or command prompt. Then download the mito installer
   - **python -m pip install mitoinstaller**
 - Then run the installer. This comman may take a few moments to run
   - **python -m mitoinstaller install**
 - Finally launch jupyterlab:
   - **python -m jupyter lab**

**Import dataframes**

In [2]:
# To open the mitosheet run this cell to render a mitosheet
# See mito's documentation here: https://docs.trymito.io/how-to/creating-a-mitosheet
# Join our Discord for support here: https://discord.gg/XdJSZyejJU

import mitosheet
mitosheet.sheet()

MitoWidget(analysis_name='UUID-ea9e68de-2f2c-4dbf-8dbb-c195c5fad73a', code_json='{"imports": "from mitosheet i…

In [5]:
# MITO CODE START (DO NOT EDIT)

from mitosheet import * # Import necessary functions from Mito
register_analysis('UUID-ea9e68de-2f2c-4dbf-8dbb-c195c5fad73a') # Let Mito know which analysis is being run

# Imported C:\Users\jules\Downloads\data_generate.csv
import pandas as pd
data_generate_csv = pd.read_csv(r'C:\Users\jules\Downloads\data_generate.csv')

# Sorted id_parcours in data_generate_csv in ascending order
data_generate_csv = data_generate_csv.sort_values(by='id_parcours', ascending=True, na_position='first')

# Pivoted data_generate_csv into df2
df2 = pd.DataFrame(data={})

# Pivoted data_generate_csv into df3
unused_columns = data_generate_csv.columns.difference(set(['Modèle_véhicule']).union(set(['Type_sinistre'])).union(set({'Sinistre'})))
tmp_df = data_generate_csv.drop(unused_columns, axis=1)
pivot_table = tmp_df.pivot_table(
    index=['Modèle_véhicule'],
    columns=['Type_sinistre'],
    values=['Sinistre'],
    aggfunc={'Sinistre': ['count']}
)

# Flatten the column headers
pivot_table.columns = [flatten_column_header(col) for col in pivot_table.columns.values]

# Reset the column name and the indexes
df3 = pivot_table.reset_index()

  
# MITO CODE END (DO NOT EDIT)

In [7]:
df3

  Modèle_véhicule  Sinistre count NON RESPONSABLE  Sinistre count RESPONSABLE
0            Audi                              58                          62
1           Dacia                              73                          72
2            Fiat                              82                          54
3           Honda                              54                          46
4         Hyundai                              63                          69
5             Kia                              69                          57
6           Mazda                              47                          66
7           Tesla                              58                          70

- Mito allows you to do Full EDA and Data Analysis in a visual environment.
- With Mito you can:
     - **Merge datasets**
     - **Add columns**
     - **Create graphs**
     - **Pivot**
     - ...

### 5 Tools every Data Scientist should use:
  - **Pandas** 
  - **Mito** ( is a spreadsheet that generates python. You get to feel like you are working in Excel or Google Sheets an each edit you make generates the equivalent python).
  - **Tensorflow** (Build neural networks, Design recommendation systems, Create adversarial networks).
  - **BeautifulSoup** (Beautiful soup is a Python package that allows for easy data extraction from html and xml formats — this essentially means web-scraping).
  - **Matplotlib** (Matplotlib is one of Python’s best graphing packages. You can make simple visual representations as well as more advanced, interactive graphics).

### 9 fonctions that spreed your EDA process:
  - **df.info()**
  - **df.duplicate().sum()**
  - **df['nom_colonne'].unique()**
  - **df['nom_colonne'].value_counts()**
  - **df.isnull().sum()** (find all the null values of the data)
  - **df.replace(np.nan,"0",inplace= True)**
  - **df1 = df[df["nom_colonne"]>100]**
  - **df.boxplot() or df['nom_colonne'].boxplot()**
  - **df.corr()**